// text color
$TextColor1: #333333;
$TextColor2: #ffffff;

// main color
$MainColor1:#6E551B;
$MainColor2:#3C2F10;

// base color
$BaseColor1:#ffffff;
$BaseColor2:#E2DDD1;

// accent color
$AccentColor1:#23460F;

// overlay
$overlay1:rgba(60, 47, 16, 0.3);
$overlay2:rgba(255, 255, 255, 0.85);


// ==========================================


// Font Variables
$caslon:"Libre Caslon Text";
$sans:"Noto Sans JP";
$serif:"Noto Serif JP";